.calc {
  font-size: 22px;
  margin: auto;
  margin-top: 50px;
  margin-left: 50px;
  font-family: 'Lobster', cursive;
  line-height: 285%;
}

.-xs-12,
.col-sm-12,
.col-md-12 {
  height: 70px;
  width: 240px;
  font-size: 24px;
  background: #262626;
  border: 1px solid #262626;
  color: white;
}

.col-xs-3,
.col-sm-3,
.col-md-3 {
  height: 60px;
  width: 60px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #262626;
}

.num{
  background-color: #E0E0E0;
}

.sign {
  background-color: #F08B33;
}

.clearer {
  background-color: #E93F32;
}